nav {
    // Color without scrolling navbar
    // background-color: @nav-bg;
    // Color with transparency for scrolling navbar
    background: rgba(246, 246, 246, 0.9);
    .flex(space-around, center);
    flex-direction: column;
    border-bottom: 2px solid @nav-border;
    // Scrolling navbar styles
    position: sticky;
    top: 0;
    width: 100%;

    h1 {
        color: @header-font-color;
        font-size: 3.8rem;
        margin: 1% 0;

        @media @phone {
            margin: 2% 0;
        }
    }

    .nav-links {
        width: 35%;
        .flex(space-between, center);
        margin: 1% 0;

        @media @phone {
            margin: 2% 0;
            width: 80%;
        }

        a {
            color: @nav-font;
            text-decoration: none;
            font-size: 1.8rem;
        }
    }
}